openapi: 3.0.0
servers:
  - description: AWEX API
    url: https://awex.freeblock.site/api/0.0.1
info:
  description: AWEX API
  version: 0.0.1
  title: AWEX applications API
  contact:
    email: serg.paliy@gmail.com
  license:
    name: MIT
tags:
  - name: authenticated
    description: Secured by JSON web tokens
  - name: authorized
    description: Has specified role
  - name: common
    description: Operations available for regular users
paths:
  /:
    get:
      tags:
        - common
      summary: API Information
      operationId: info
      responses:
        "200":
          description: API Information
          content:
            application/json:
              schema:
                type: object
                items:
                  properties:
                    name:
                      type: string
                      description: Application name
                    version:
                      type: string
                      description: API version
                    description:
                      type: string
                      description: API description
  /account/auth/register:
    post:
      tags:
        - common
      summary: endpoint for user registration
      operationId: registration
      description: User registration
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                password:
                  type: string
                  description: password
                email:
                  type: string
                  description: email
              required:
                - password
                - email
      responses:
        "200":
          description: request succeeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: request result
        "400":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
  /account/auth/sign-in:
    post:
      tags:
        - common
      summary: endpoint for user authentication
      operationId: login
      description: User login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                password:
                  type: string
                  description: password
                email:
                  type: string
                  description: email
              required:
                - password
                - email
      responses:
        "200":
          description: request succeeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  verified:
                    type: boolean
                    description: either email is verified or not,
                      if true - jwt token is provided
                  token:
                    type: string
                    description: is provided only if email is verified
                      should be used in "Authorization" header ( "Bearer token" )
                      for non common endpoints
                  expiration:
                    type: integer
                    description: unix timestamp until token is valid
                  otpRequired:
                    type: boolean
                    description: true if 2FA is on, if true request to the
                      | /account/otp/login with otp should be sent
        "400":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
  /account/auth/password-strength:
    post:
      tags:
        - common
      summary: endpoint for password strength check
      operationId: password-strength
      description: password strength check
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                password:
                  type: string
                  description: password
              required:
                - password
      responses:
        "200":
          description: request succeeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  score:
                    type: integer
                    description: password strength score (0, 1, 2, 3)
                  strength:
                    type: string
                    description: password strength description (very weak, weak, medium, strong)
                  valid:
                    type: boolean
                    description: true if valid for usage in application (medium, strong)
        "400":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
  /account/auth/confirm:
    post:
      tags:
        - common
      summary: endpoint for email confirmation
      operationId: confirm
      description: email confirmation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                code:
                  type: string
                  description: confirmation code from link in email message
              required:
                - code
      responses:
        "200":
          description: request succeeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: request result
        "400":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
  /account/auth/resend:
    post:
      tags:
        - common
      summary: endpoint for confirmation email resending request
      operationId: resend
      description: confirmation email resending request
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: email
              required:
                - email
      responses:
        "200":
          description: request succeeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: request result
        "400":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
  /account/auth/reset/send:
    post:
      tags:
        - common
      summary: endpoint for password reset email sending request
      operationId: send
      description: password reset email sending request
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: email
              required:
                - email
      responses:
        "200":
          description: request succeeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: request result
        "400":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
        "409":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
  /account/auth/reset/confirm:
    post:
      tags:
        - common
      summary: endpoint for reset token obtaining
      operationId: reset-confirm
      description: reset token obtaining
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                code:
                  type: string
                  description: reset code from link in email message
              required:
                - code
      responses:
        "200":
          description: request succeeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  resetToken:
                    type: string
                    description: should be used for password reset
                      life time 1 hour
                  message:
                    type: string
                    description: request result
        "400":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
  /account/auth/reset/set:
    post:
      tags:
        - common
      summary: endpoint for password reset
      operationId: password-reset
      description: password reset
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                resetToken:
                  type: string
                  description: password
                oldPassword:
                  type: string
                  description: old password
                password:
                  type: string
                  description: new password
              required:
                - password
                - resetToken
                - oldPassword
      responses:
        "200":
          description: request succeeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: request result
        "400":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
  /account/otp/set-google-authenticator:
    post:
      tags:
        - authenticated
      summary: endpoint for setting google authenticator as 2fa method
      operationId: set-google-authenticator
      description: set google authenticator
      security:
        - BearerAuth: []
      responses:
        "200":
          description: request succeeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  uri:
                    type: string
                    description: google authenticator connection uri for QR generation
        "400":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
        "403":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
  /account/otp/set-gmail:
    post:
      tags:
        - authenticated
      summary: endpoint for setting gmail as 2fa method
      operationId: set-gmail
      description: set gmail
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: gmail account e-mail
              required:
                - email
      responses:
        "200":
          description: request succeeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: request result description
        "400":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
        "403":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
  /account/otp/set-facebook:
    post:
      tags:
        - authenticated
      summary: endpoint for setting facebook as 2fa method
      operationId: set-facebook
      description: set facebook
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                otp:
                  type: string
                  description: code or access token obtained by the frontend
              required:
                - otp
      responses:
        "200":
          description: request succeeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: request result description
        "400":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
        "403":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
  /account/otp/enable:
    post:
      tags:
        - authenticated
      summary: endpoint for enabling 2fa method
      operationId: otp-enable
      description: enabling 2fa method
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                _2faType:
                  type: string
                  enum: ["googleAuthenticator", "gmail", "facebook"]
                  description: 2fa type
                otp:
                  type: string
                  description: code or access token obtained by the frontend
              required:
                - _2faType
                - otp
      responses:
        "200":
          description: request succeeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: request result description
        "400":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
        "403":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
  /account/otp/disable:
    post:
      tags:
        - authenticated
      summary: endpoint for disabling 2fa method
      operationId: otp-disable
      description: disabling 2fa method
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                _2faType:
                  type: string
                  enum: ["googleAuthenticator", "gmail", "facebook"]
                  description: 2fa type
              required:
                - _2faType
      responses:
        "200":
          description: request succeeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: request result description
        "400":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
        "403":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
  /account/otp/enabled:
    get:
      tags:
        - authenticated
      summary: endpoint for getting of the list of enabled 2fa methods
      operationId: otp-enabled
      description: list of enabled 2fa methods
      security:
        - BearerAuth: []
      responses:
        "200":
          description: request succeeded
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                description: list of enabled 2fa methods
        "400":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
        "403":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
  /account/otp/validate:
    post:
      tags:
        - authenticated
      summary: endpoint for validating of the otp code
      operationId: otp-validate
      description: validating of the otp code
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                _2faType:
                  type: string
                  enum: ["googleAuthenticator", "gmail", "facebook"]
                  description: 2fa type
                otp:
                  type: string
                  description: one time password or facebook token
              required:
                - _2faType
                - otp
      responses:
        "200":
          description: request succeeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: request result description
        "400":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
        "403":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
  /account/otp/send-gmail:
    post:
      tags:
        - authenticated
      summary: endpoint for sending otp to the gmail
      operationId: send-gmail
      description: sending otp to the gmail
      security:
        - BearerAuth: []
      responses:
        "200":
          description: request succeeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: request result description
        "400":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
        "403":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
  /account/otp/login:
    post:
      tags:
        - authenticated
      summary: endpoint for second 2fa step
      operationId: otp-login
      description: second 2fa step
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                _2faType:
                  type: string
                  enum: ["googleAuthenticator", "gmail", "facebook"]
                  description: 2fa type
                otp:
                  type: string
                  description: code or access token obtained by the frontend
              required:
                - _2faType
                - otp
      responses:
        "200":
          description: request succeeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: request result description
        "400":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
        "403":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
  /account/ip:
    post:
      tags:
        - authenticated
      summary: endpoint for setting ip whitelist
      operationId: ip-set
      description: setting ip whitelist
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ipWhitelist:
                  type: array
                  items:
                    type: string
                  description: list of whitelisted ip,
                    if empty - whitelisting is disabled
              required:
                - ipWhitelist
      responses:
        "200":
          description: request succeeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: request result
        "400":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
        "403":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
    get:
      tags:
        - authenticated
      summary: endpoint for getting ip whitelist
      operationId: ip-get
      description: ip whitelist
      security:
        - BearerAuth: []
      responses:
        "200":
          description: request succeeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  ip:
                    type: string
                    description: current ip address
                  ipWhitelist:
                    type: array
                    items:
                      type: string
                    description: list of whitelisted ip,
                      if empty - whitelisting is disabled
        "403":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
  /account/session/list:
    get:
      tags:
        - authenticated
      summary: endpoint for getting sessions list
      operationId: session-list
      description: sessions list
      security:
        - BearerAuth: []
      parameters:
        - in: query
          name: page
          schema:
            type: string
          description: requested page number
      responses:
        "200":
          description: request succeeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  page:
                    type: integer
                    description: current page number
                  pages:
                    type: integer
                    description: pages number
                  list:
                    type: array
                    description: list of sessions
                    items:
                      $ref: "#/components/schemas/Session"
        "403":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
  /account/session/{id}/delete:
    post:
      tags:
        - authenticated
      summary: endpoint for deleting user session
      operationId: session-delete
      description: deleting user session
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: id
          description: session id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: request succeeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: request result description
        "400":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
        "403":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
        "404":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
  /account/session/delete:
    post:
      tags:
        - authenticated
      summary: endpoint for deleting all user sessions except current
      operationId: session-delete-all
      description: deleting user sessions except current
      security:
        - BearerAuth: []
      responses:
        "200":
          description: request succeeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: request result description
        "403":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
  /account/profile/set-password:
    post:
      tags:
        - authenticated
      summary: endpoint for setting new password
      operationId: password-set
      description: password set
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                oldPassword:
                  type: string
                  description: old password
                password:
                  type: string
                  description: new password
              required:
                - password
                - oldPassword
      responses:
        "200":
          description: request succeeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: request result
        "400":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
        "403":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
  /account/profile:
    post:
      tags:
        - authenticated
      summary: endpoint for updating user profile data
      operationId: profile-set
      description: updating user profile data
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProfileData"
      responses:
        "200":
          description: request succeeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: request result
        "400":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
        "403":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
    get:
      tags:
        - authenticated
      summary: endpoint for getting user profile data
      operationId: profile-get
      description: getting user profile data
      security:
        - BearerAuth: []
      responses:
        "200":
          description: request succeeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProfileData"
        "403":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
  /account/profile/notifications:
    post:
      tags:
        - authenticated
      summary: endpoint for updating notifications settings
      operationId: notifications-set
      description: updating notifications settings
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Notification"
      responses:
        "200":
          description: request succeeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: request result
        "400":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
        "403":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
    get:
      tags:
        - authenticated
      summary: endpoint for getting notifications settings
      operationId: notifications-get
      description: getting notifications settings
      security:
        - BearerAuth: []
      responses:
        "200":
          description: request succeeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Notification"
        "403":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
  /account/profile/currency:
    post:
      tags:
        - authenticated
      summary: endpoint for updating currency for displaying balance
      operationId: currency-set
      description: updating currency for displaying balance
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                currency:
                  type: string
                  description: currency for displaying balance
      responses:
        "200":
          description: request succeeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: request result
        "400":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
        "403":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
    get:
      tags:
        - authenticated
      summary: endpoint for getting currency for displaying balance
      operationId: currency-get
      description: getting currency for displaying balance
      security:
        - BearerAuth: []
      responses:
        "200":
          description: request succeeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  currency:
                    type: string
                    description: currency for displaying balance
        "403":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
  /account/config/settings:
    get:
      tags:
        - authenticated
      summary: endpoint for getting account settings (currencies list,
        permissions list, countries list, labels list etc.)
      operationId: settings-list
      description: getting settings list
      security:
        - BearerAuth: []
      responses:
        "200":
          description: request succeeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  countries:
                    type: array
                    items:
                      type: string
                  permissions:
                    type: array
                    items:
                      type: string
                  labels:
                    type: array
                    items:
                      type: string
                  roles:
                    type: array
                    items:
                      type: string
        "403":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
  /account/team:
    get:
      tags:
        - authorized
      summary: endpoint for getting team members list
      operationId: team-members-list
      description: team members list
      security:
        - BearerAuth: []
      parameters:
        - in: query
          name: page
          schema:
            type: string
          description: requested page number
      responses:
        "200":
          description: request succeeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  page:
                    type: integer
                    description: current page number
                  pages:
                    type: integer
                    description: pages number
                  list:
                    type: array
                    description: list of projects
                    items:
                      $ref: "#/components/schemas/TeamMember"
        "403":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
    post:
      tags:
        - authorized
      summary: endpoint for team members adding
      operationId: team-members-add
      description: team members adding
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: user name (is ignored for existing users)
                email:
                  type: string
                  description: user's email
                permissions:
                  description: team member permissions
                  type: array
                  items:
                    type: string
                label:
                  type: string
                  description: team member label
              required:
                - email
                - label
      responses:
        "200":
          description: request succeeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: request result
        "400":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
        "403":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
  /account/team/confirm:
    post:
      tags:
        - common
      summary: endpoint for a team membership confirmation
      operationId: team-membership-confirmation
      description: team membership confirmation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                code:
                  type: string
                  description: confirmation code from link sent to email
              required:
                - code
      responses:
        "200":
          description: request succeeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: request result description
        "400":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
        "403":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
        "404":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
  /account/team/{id}:
    get:
      tags:
        - authorized
      summary: endpoint for getting team member
      operationId: team-member-get
      description: getting team member
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: id
          description: team membership id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: request succeeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TeamMember"
        "403":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
        "404":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
    post:
      tags:
        - authorized
      summary: endpoint for team member settings updating
      operationId: team-member-set
      description: team member settings updating
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: id
          description: project id
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                permissions:
                  type: array
                  description: team member permissions
                  items:
                    type: string
                label:
                  type: string
                  description: team member label
      responses:
        "200":
          description: request succeeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: request result
        "400":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
        "403":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
        "404":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
  /account/team/{id}/enable:
    post:
      tags:
        - authorized
      summary: endpoint for a team member enabling
      operationId: team-member-enable
      description: team member enabling
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: id
          description: team member id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: request succeeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: request result description
        "400":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
        "403":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
        "404":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
  /account/team/{id}/disable:
    post:
      tags:
        - authorized
      summary: endpoint for a team member disabling
      operationId: team-member-disable
      description: team member disabling
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: id
          description: team member id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: request succeeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: request result description
        "400":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
        "403":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
        "404":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
  /account/team/{id}/delete:
    post:
      tags:
        - authorized
      summary: endpoint for a team member deleting
      operationId: team-member-delete
      description: team member deleting
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: id
          description: team member id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: request succeeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: request result description
        "400":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
        "403":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
        "404":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
  /account/admin:
    get:
      tags:
        - authorized
      summary: endpoint for getting administrators list
      operationId: admin-list
      description: administrators list
      security:
        - BearerAuth: []
      parameters:
        - in: query
          name: page
          schema:
            type: string
          description: requested page number
        - in: query
          name: search
          schema:
            type: string
          description: email, id or name
        - in: query
          name: role
          schema:
            type: string
          description: admin role
      responses:
        "200":
          description: request succeeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  page:
                    type: integer
                    description: current page number
                  pages:
                    type: integer
                    description: pages number
                  list:
                    type: array
                    description: list of projects
                    items:
                      $ref: "#/components/schemas/AdminList"
        "403":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
    post:
      tags:
        - authorized
      summary: endpoint for creating users by admin with granting
        admin roles
      operationId: user-create
      description: creating users by admin with granting admin roles
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: user email
                name:
                  type: string
                  description: user name
                roles:
                  type: array
                  items:
                    type: string
                    description: admin role
      responses:
        "200":
          description: request succeeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: request result
        "400":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
        "403":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
  /account/{id}/admin:
    get:
      tags:
        - authorized
      summary: endpoint for getting admin details
      operationId: admin-get
      description: getting admin details
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: id
          description: admin id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: request succeeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminItem"
        "403":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
        "404":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
    post:
      tags:
        - authorized
      summary: endpoint for granting admin roles to user
      operationId: admin-update
      description: granting admin roles to user
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: id
          description: project id
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                roles:
                  type: array
                  items:
                    type: string
                    description: admin roles
      responses:
        "200":
          description: request succeeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: request result
        "400":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
        "403":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
        "404":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
  /account/{id}/admin/enable:
    post:
      tags:
        - authorized
      summary: endpoint for enabling admin account
      operationId: admin-enable
      description: enabling admin account
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: id
          description: admin id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: request succeeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: request result
        "400":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
        "403":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
        "404":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
  /account/{id}/admin/disable:
    post:
      tags:
        - authorized
      summary: endpoint for disabling admin account
      operationId: admin-disable
      description: disabling admin account
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: id
          description: admin id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: request succeeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: request result
        "400":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
        "403":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
        "404":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
  /account/{id}/admin/delete:
    post:
      tags:
        - authorized
      summary: endpoint for deleting admin account
      operationId: admin-delete
      description: deleting admin account
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: id
          description: admin id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: request succeeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: request result
        "400":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
        "403":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
        "404":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
  /account/merchant:
    get:
      tags:
        - authorized
      summary: endpoint for getting merchants list
      operationId: merchant-list
      description: merchants list
      security:
        - BearerAuth: []
      parameters:
        - in: query
          name: page
          schema:
            type: string
          description: requested page number
        - in: query
          name: search
          schema:
            type: string
          description: email, id or name
      responses:
        "200":
          description: request succeeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  page:
                    type: integer
                    description: current page number
                  pages:
                    type: integer
                    description: pages number
                  list:
                    type: array
                    description: list of projects
                    items:
                      $ref: "#/components/schemas/MerchantList"
        "403":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
  /account/{id}/merchant:
    get:
      tags:
        - authorized
      summary: endpoint for getting merchant details
      operationId: merchant-get
      description: getting merchant details
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: id
          description: user id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: request succeeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MerchantItem"
        "403":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
        "404":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
  /account/{id}/merchant/enable:
    post:
      tags:
        - authorized
      summary: endpoint for enabling merchant account
      operationId: merchant-enable
      description: enabling merchant account
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: id
          description: merchant id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: request succeeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: request result
        "400":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
        "403":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
        "404":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
  /account/{id}/merchant/disable:
    post:
      tags:
        - authorized
      summary: endpoint for disabling merchant account
      operationId: merchant-disable
      description: disabling merchant account
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: id
          description: merchant id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: request succeeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: request result
        "400":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
        "403":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
        "404":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
  /account/{id}/merchant/delete:
    post:
      tags:
        - authorized
      summary: endpoint for deleting merchant account
      operationId: merchant-delete
      description: deleting merchant account
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: id
          description: merchant id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: request succeeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: request result
        "400":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
        "403":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
        "404":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
  /account/referral/link:
    get:
      tags:
        - authenticated
      summary: endpoint for getting referral link
      operationId: referral-link
      description: getting referral link
      security:
        - BearerAuth: []
      responses:
        "200":
          description: request succeeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  referralCode:
                    type: string
                    description: "code for referral link building"
        "403":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
  /account/referral:
    get:
      tags:
        - authorized
      summary: endpoint for getting referrals list
      operationId: referrals-list
      description: getting referrals list
      security:
        - BearerAuth: []
      parameters:
        - in: query
          name: page
          schema:
            type: string
          description: requested page number
        - in: query
          name: status
          schema:
            type: string
          description: referral status filter
        - in: query
          name: startTime
          schema:
            type: integer
          description: UTC timestamp for start time filter
        - in: query
          name: endTime
          schema:
            type: integer
          description: UTC timestamp for start time filter
      responses:
        "200":
          description: request succeeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  page:
                    type: integer
                    description: current page number
                  pages:
                    type: integer
                    description: pages number
                  list:
                    type: array
                    description: list of referrals
                    items:
                      $ref: "#/components/schemas/ReferralList"
        "403":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
  /account/referral/earnings:
    get:
      tags:
        - authorized
      summary: endpoint for getting earnings list
      operationId: earnings-list
      description: getting earnings list
      security:
        - BearerAuth: []
      parameters:
        - in: query
          name: page
          schema:
            type: string
          description: requested page number
        - in: query
          name: type
          schema:
            type: string
          description: earnings type
        - in: query
          name: startTime
          schema:
            type: integer
          description: UTC timestamp for start time filter
        - in: query
          name: endTime
          schema:
            type: integer
          description: UTC timestamp for start time filter
      responses:
        "200":
          description: request succeeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  page:
                    type: integer
                    description: current page number
                  pages:
                    type: integer
                    description: pages number
                  list:
                    type: array
                    description: list of referrals
                    items:
                      $ref: "#/components/schemas/EarningsList"
        "403":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
  /account/referral/statistics:
    get:
      tags:
        - authenticated
      summary: endpoint for getting referral statistics
      operationId: referral-statistics
      description: getting referral statistics
      security:
        - BearerAuth: []
      responses:
        "200":
          description: request succeeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalReferralsNumber:
                    type: integer
                  activeReferralsNumber:
                    type: integer
                  earnings:
                    type: number
                  referralFees:
                    type: object
                    properties:
                      fromFees:
                        type: number
                        description: referral fees percentage
                          for a "fromFees" type
                      fromTurnover:
                        type: number
                        description: referral fees percentage
                          for a "fromTurnover" type
        "403":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
  /account/referral/admin/fees:
    get:
      tags:
        - authenticated
      summary: admin endpoint for getting referral fees
      operationId: admin-get-referral-fees
      description: getting referral fees
      security:
        - BearerAuth: []
      responses:
        "200":
          description: request succeeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  fromFees:
                    type: number
                    description: referral fees percentage
                      for a "fromFees" type
                  fromTurnover:
                    type: number
                    description: referral fees percentage
                      for a "fromTurnover" type
        "403":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
    post:
      tags:
        - authorized
      summary: admin endpoint for setting referral fees
      operationId: admin-set-referral-fees
      description: setting referral fees
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                fromFees:
                  type: number
                  description: referral fees percentage
                    for a "fromFees" type
                fromTurnover:
                  type: number
                  description: referral fees percentage
                    for a "fromTurnover" type
              required:
                - fromFees
                - fromTurnover
      responses:
        "200":
          description: request succeeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: request result
        "400":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
        "403":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
  /company:
    get:
      tags:
        - authorized
      summary: endpoint for getting companies list
      operationId: companies-list
      description: companies list
      security:
        - BearerAuth: []
      parameters:
        - in: query
          name: page
          schema:
            type: string
          description: requested page number
      responses:
        "200":
          description: request succeeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  page:
                    type: integer
                    description: current page number
                  pages:
                    type: integer
                    description: pages number
                  list:
                    type: array
                    description: list of projects
                    items:
                      $ref: "#/components/schemas/CompanyList"
        "403":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
    post:
      tags:
        - authorized
      summary: endpoint for creating company
      operationId: company-create
      description: creating company
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CompanyItem"
      responses:
        "200":
          description: request succeeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: request result
        "400":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
        "403":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
  /company/{id}:
    get:
      tags:
        - authorized
      summary: endpoint for getting company
      operationId: company-get
      description: getting company
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: id
          description: company id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: request succeeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompanyItem"
        "403":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
        "404":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
    post:
      tags:
        - authorized
      summary: endpoint for updating company
      operationId: company-update
      description: updating company
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: id
          description: company id
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CompanyItem"
      responses:
        "200":
          description: request succeeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: request result
        "400":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
        "403":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
        "404":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
  /company/{id}/delete:
    post:
      tags:
        - authorized
      summary: endpoint for deleting company
      operationId: company-delete
      description: deleting company
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: id
          description: company id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: request succeeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: request result description
        "400":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
        "403":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
        "404":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
  /fee:
    get:
      tags:
        - authorized
      summary: endpoint for a fee getting
      operationId: fee-get
      description: fee getting
      security:
        - BearerAuth: []
      responses:
        "200":
          description: request succeeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  current:
                    type: number
                    description: current fee
                  next:
                    type: number
                    description: upcoming fee
                    nullable: true
                  nextTimestamp:
                    type: integer
                    description: UNIX timestamp, time when upcoming fee
                      will be active
                    nullable: true
        "403":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
    post:
      tags:
        - authorized
      summary: endpoint for a fee setting
      operationId: fee-set
      description: fee setting
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                fee:
                  type: number
                  description: new fee
                timestamp:
                  type: integer
                  description: UNIX timestamp, time
                    when new fee should be enabled
              required:
                - timestamp
                - fee
      responses:
        "200":
          description: request succeeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: request result description
        "400":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
        "403":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
  /fee/{id}:
    get:
      tags:
        - authorized
      summary: endpoint for a personal fee getting
      operationId: personal-fee-get
      description: personal fee getting
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: id
          description: user id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: request succeeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  current:
                    type: number
                    description: current fee
                  next:
                    type: number
                    description: upcoming fee
                    nullable: true
                  nextTimestamp:
                    type: integer
                    description: UNIX timestamp, time when upcoming fee
                      will be active
                    nullable: true
        "403":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
        "404":
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    description: errors descriptions
    post:
      tags:
        - authorized
      summary: endpoint for a personal fee setting
      operationId: personal-fee-set
      description: personal fee setting
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: id
          description: user id
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                fee:
                  type: number
                  description: new fee
                timestamp:
                  type: integer
                  description: UNIX timestamp, time
                    when new fee should be enabled
              required:
                - timestamp
                - fee
      responses:
        "200":
          description: request succeeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: request result
        "400":
          description: request failed
          content:
            application/json:
[...]
