.actives-action {
  width: 100%;
  height: 100%;
  padding: 70px 30px;
  background-color: var(--bg-color);

  .actives-check__back {
    display: none;

    @media (max-width: $breakpoint768) {
      display: flex;
    }
  }

  @media (max-width: $breakpoint1300) {
    padding: 70px 30px;
  }

  @media (max-width: $breakpoint1200) {
    padding: 70px 15px;
  }

  @media (max-width: $breakpoint768) {
    padding: 50px 15px;
  }

  &__inner {
    max-width: 500px;
    width: 100%;

    @media (max-width: $breakpoint768) {
      max-width: 100%;
    }
  }

  // .actives-action__title

  &__title {
    margin-bottom: 25px;
    font-weight: 600;
    line-height: 120%;
    font-size: 24px;

    @media (max-width: $breakpoint1300) {
      font-size: 16px;
    }

    @media (max-width: $breakpoint768) {
      margin-bottom: 15px;
      font-size: 24px;
    }
  }

  // .actives-action__filters

  &__filters {
    display: flex;
    align-items: flex-start;
    column-gap: 20px;
    margin-bottom: 25px;
  }

  // .actives-action__counts

  &__counts {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  // .actives-action__count

  &__count {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 16px;
    padding: 5px 10px;

    @media (max-width: $breakpoint992) {
      padding: 5px 0;
    }

    @media (max-width: $breakpoint768) {
      padding: 5px 10px;
    }

    @media (max-width: 420px) {
      flex-direction: column;
      row-gap: 10px;
      align-items: flex-start;
    }
  }

  // .actives-action__count-info

  &__count-info {
    display: flex;
    align-items: center;
    column-gap: 10px;
  }

  // .actives-action__count-pic

  &__count-pic {
    width: 35px;
    height: 35px;
  }

  // .actives-action__count-descrs

  &__count-descrs {
  }

  // .actives-action__count-name

  &__count-name {
    margin-bottom: 10px;
    font-weight: 600;
    line-height: 120%;
    font-size: 16px;
  }

  // .actives-action__count-descr

  &__count-descr {
    display: flex;
    column-gap: 10px;
    font-size: 13px;
    color: var(--grey-color-2);
  }

  // .actives-action__count-btn

  &__count-btn {
    @media (max-width: 420px) {
      margin-left: auto;
    }
  }
}

.actives-action {
  // .actives-action__inner

  &__inner {
  }

  // .actives-action__title

  &__title {
  }

  // .actives-action__withdrawal

  &__withdrawal {
  }

  // .actives-action__withdrawal-group

  &__withdrawal-group {
    margin-bottom: 10px;
  }

  // .actives-action__withdrawal-label

  &__withdrawal-label {
    font-weight: 600;

    @media (max-width: $breakpoint1300) {
      font-size: 13px;
    }
  }

  // .actives-action__withdrawal-input

  &__withdrawal-input {
  }

  // .actives-action__withdrawal-exchange

  &__withdrawal-exchange {
    padding: 10px 20px;
    margin-bottom: 25px;
    border-radius: 10px;
    background-color: var(--grey-color-3);
  }

  // .actives-action__withdrawal-header

  &__withdrawal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 8px;
    margin: 10px 0;
  }

  // .actives-action__withdrawal-sum

  &__withdrawal-sum {
    flex: 0 1 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
    padding: 5px;
    border-radius: 10px;
    background: var(--light-grey-50, rgba(209, 209, 209, 0.5));
    font-size: 12px;
    font-weight: 600;
    line-height: 120%;
    color: var(--text-color);

    span {
      font-size: 12px;
      color: var(--grey-color-2);
    }
  }

  // .actives-action__withdrawal-deceives

  &__withdrawal-deceives {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
    margin-bottom: 5px;
  }

  // .actives-action__withdrawal-deceive

  &__withdrawal-deceive {
    font-weight: 400;
    line-height: 120%;
    font-size: 36px;

    @media (max-width: $breakpoint992) {
      font-size: 24px;
    }
  }

  // .actives-action__withdrawal-deceives-sum

  &__withdrawal-deceives-sum {
    font-weight: 600;
    line-height: 120%;
    font-size: 13px;
    color: var(--grey-color-2);
  }

  // .actives-action__withdrawal-btn

  &__withdrawal-btn {
    @media (max-width: $breakpoint768) {
      margin: 0 auto;
    }
  }

  // .actives-action__inforamation

  &__inforamation {
    display: none;
    padding: 30px;

    @media (max-width: $breakpoint768) {
      display: block;
    }
  }

  // .actives-action__inforamation-header

  &__inforamation-header {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 16px;
    margin-bottom: 20px;
  }

  // .actives-action__inforamation-pic

  &__inforamation-pic {
  }

  // .actives-action__inforamation-title

  &__inforamation-title {
    font-weight: 600;
    line-height: 120%;
    font-size: 16px;
  }

  // .actives-action__inforamation-descr

  &__inforamation-descr {
    max-width: 340px;
    margin: 0 auto 20px;
    text-align: center;
  }

  // .actives-action__inforamation-btn

  &__inforamation-btn {
    width: fit-content;
    margin: 0 auto;
  }

  &__form-btns {
    display: flex;
    align-items: center;
    column-gap: 20px;
    margin-bottom: 25px;

    @media (max-width: $breakpoint768) {
      flex-direction: column;
      row-gap: 10px;
    }
  }
}

.actives-action__withdrawal-swaps {
  position: relative;
  margin-bottom: 25px;

  .invoice__generation-select {
    margin-bottom: 0;
  }
}

.actives-action__withdrawal-swap {
  &:not(:last-child) {
    margin-bottom: 10px;
  }

  .about-deposit__generation-info {
    width: 100%;
  }

  .about-deposit__generation-input {
    font-size: 36px;

    @media (max-width: $breakpoint992) {
      font-size: 24px;
    }
  }

  .about-deposit__generation-input {
    width: 96%;
  }
}

.actives-action__withdrawal-swap-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 368px;
}

.actives-action__withdrawal-swap-text {
  font-weight: 600;
  line-height: 120%;
  font-size: 12px;
  color: var(--grey-color-2);

  span {
    color: var(--grey-color-2);
    text-decoration-line: underline;
    text-underline-offset: 3px;
  }
}

.actives-action__withdrawal-swap-decor {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.actives-action__withdrawal-comissions {
  margin-bottom: 25px;
}

.actives-action__withdrawal-comission {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--white-color);

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.actives-action__withdrawal-comission-label {
  display: flex;
  align-items: center;
  column-gap: 15px;
  font-weight: 600;
  line-height: 120%;
  font-size: 13px;
  color: var(--grey-color-2);
}

.actives-action__withdrawal-comission-green {
  padding: 5px 15px;
  border-radius: 15px;
  background: rgba(51, 160, 44, 0.2);
  color: var(--green-color);

  @media (max-width: 359px) {
    font-size: 12px;
  }
}

.actives-action {
  // .actives-action__exchanges

  &__exchanges {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    max-width: 500px;
    width: 100%;
  }

  // .actives-action__exchange

  &__exchange {
    display: grid;
    padding: 15px;
    border-radius: 10px;
    background-color: var(--white-color);
  }

  // .actives-action__exchange-label

  &__exchange-label {
    font-size: 10px;
    font-weight: 600;
    color: #9a9a9a;
  }

  // .actives-action__exchange-price

  &__exchange-price {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin: 10px 0 12px 0;
    white-space: nowrap;
  }

  // .actives-action__exchange-price-sum

  &__exchange-price-sum {
    font-size: 24px;
    font-weight: 600;
  }

  // .actives-action__exchange-price-currency

  &__exchange-price-currency {
    font-size: 24px;
    font-weight: 600;
    color: var(--grey-color);
  }

  // .actives-action__exchange-price-rypto

  &__exchange-price-rypto {
    margin-bottom: -10px;
    font-weight: 500;
    font-size: 16px;
    color: var(--grey-color);
  }

  // .actives-action__exchange-office

  &__exchange-office {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-bottom: 12px;
    font-weight: 600;

    img {
      width: 24px;
      height: 24px;
    }
  }

  // .actives-action__exchange-adderess

  &__exchange-adderess {
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 12px;
    color: #9a9a9a;
  }

  // .actives-action__exchang-limites

  &__exchang-limites {
    display: flex;
    align-items: center;
    column-gap: 10px;
  }

  // .actives-action__exchang-limit

  &__exchang-limit {
    font-size: 12px;
    color: #9a9a9a;

    font-weight: 600;
  }
}

.actives-action__withdrawal {
  .about-deposit__generation-input {
    font-size: 36px;

    &::placeholder {
      font-size: 36px;
    }
  }

  .about-deposit__generation-curr {
    @media (max-width: $breakpoint1300) {
      font-size: 36px;
    }
  }
}
