.active-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.page-list {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 15px;
}

.page-list__item {

  &.active .page-list__link {
    color: var(--text-color);

    &::before {
      content: "[";
    }

    &::after {
      content: "]";
    }

  }

  &.last {
    .page-list__link {
      color: var(--text-color);
    }
  }
}

.page-list__link {
  color: var(--grey-color);
}