.admin-enter__from {
  max-width: 400px;
  width: 100%;
  opacity: 1;
  transform: translateY(0);

  background-color: var(--bg-color);
  border-radius: 10px;

  .project-group {
    width: 100%;
    background-color: var(--white-color);
  }

  .modal-content__main {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-bottom: 20px;
  }

  .modal-content__btn {
    width: 100%;
  }
}

.admin-enter {
  padding-left: 70px;

  @media (max-width: $breakpoint992) {
    padding-left: 20px;
  }

  @media (max-width: $breakpoint768) {
    padding-left: 0;
  }

}

.admin-enter__logo {
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-weight: 600;
  color: var(--text-color);

  span {
    display: flex;
  }
}