.admin-statistic {
  // .admin-statistic__container

  &__container {
  }
}

.admin-applications {
  // .admin-applications__from

  &__from {
    margin-bottom: 30px;
  }

  // .admin-applications__search

  &__search {
  }

  // .admin-applications__src

  &__src {
  }

  // .admin-applications__search-img

  &__search-img {
  }

  // .admin-applications__datapicker

  &__datapicker {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    background-color: transparent;
  }

  // .admin-applications__header

  &__header {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 30px;
    padding: 5px;
    border-radius: 10px;
    background-color: var(--grey-color);
  }

  // .admin-applications__header-item

  &__header-item {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    padding: 15px 20px;
    border-radius: 10px;
    font-weight: 600;
    text-align: center;

    &.disabled {
      color: var(--grey-color-2);
    }

    &.active {
      background-color: var(--text-color);
      color: var(--white-color);
    }
  }

  // .admin-applications__header-item-count

  &__header-item-count {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 25px;
    min-height: 25px;
    padding: 2px 4px;
    border-radius: 100%;
    background-color: var(--error-color);
    color: var(--white-color);
  }

  // .admin-applications__main

  &__main {
  }

  // .admin-applications__list

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
  }

  // .admin-applications__item

  &__item {
    display: grid;
    grid-template-columns: 200px 300px 1fr 120px;
    padding: 15px 20px;
    background-color: var(--grey-color-3);
    border: 1px solid transparent;
    border-radius: 10px;
    font-weight: 600;
  }

  // .admin-applications__item-header

  &__item-header {
    background-color: transparent;
  }

  // .admin-applications__item-content

  &__item-content {
    display: flex;
    align-items: center;
    column-gap: 5px;
  }

  // .admin-applications__item--light

  &__item--light {
    background-color: transparent;
    border: 1px solid var(--grey-color);
  }
}

.admin-applications {
  // .admin-applications__back

  &__back {
    display: flex;
    align-items: center;
    column-gap: 15px;
    margin-bottom: 30px;

    font-weight: 600;
    color: #000;

    img {
      transition: transform 0.2s linear;
    }

    &:hover {
      img {
        transform: translateX(-5px);
      }
    }
  }

  // .admin-applications__request

  &__request {
    padding: 30px 20px 25px;
  }

  // .admin-applications__request-label

  &__request-label {
    margin-bottom: 25px;
    font-weight: 600;
  }

  // .admin-applications__request-header

  &__request-header {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
  }

  // .admin-applications__request-info

  &__request-info {
    display: flex;
    align-items: center;
    column-gap: 35px;
  }

  // .admin-applications__request-type

  &__request-type {
    font-size: 13px;
    font-weight: 600;
  }

  // .admin-applications__request-id

  &__request-id {
    span {
      font-weight: 600;
    }
  }

  // .admin-applications__request-statistic

  &__request-statistic {
    display: flex;
    align-items: center;
    column-gap: 5px;
    margin-left: auto;
  }

  // .admin-applications__blocks-wrapper

  &__blocks-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 15px;
    row-gap: 10px;
    margin-bottom: 25px;
  }

  // .admin-applications__block

  &__block {
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--grey-color, #d1d1d1);
    background: var(--grey-color-3, #f6f6f6);
  }

  // .admin-applications__block-label

  &__block-label {
    font-weight: 13px;
    font-weight: 600;
  }

  // .admin-applications__block-text

  &__block-text {
    margin-bottom: -3px;
    font-size: 13px;
  }

  // .admin-applications__block--column

  &__block--column {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 10px;
  }

  // .admin-applications__block-others

  &__block-others {
    .admin-applications__block {
      border: 0;
      background-color: transparent;
    }
  }

  // .admin-applications__blocks

  &__blocks {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  // .admin-applications__block-naming

  &__block-naming {
    display: flex;
    align-items: center;
    column-gap: 5px;
    font-weight: 600;
    flex-wrap: wrap;

    img {
      width: 15px;
      height: 15px;
      object-fit: cover;
    }
  }

  // .admin-applications__footer

  &__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
  }

  // .admin-applications__btn

  &__btn {
  }

  // .admin-applications__others

  &__others {
    padding: 0 20px 30px;

    .my-projects__item {
      padding: 5px 10px;
      border-radius: 10px;
      border: 1px solid var(--grey-color, #d1d1d1);
      background: var(--light-grey-20, rgba(209, 209, 209, 0.2));
    }

    .my-projects__item-title {
      margin-bottom: 5px;
      font-size: 16px;
    }

    .my-projects__item-text {
      font-size: 13px;
    }

    .my-projects__item-currency {
      font-size: 13px;
    }

    .my-projects__item-btn {
      display: flex;
      align-items: center;
      column-gap: 20px;

      img {
        cursor: pointer;
      }

      a {
        font-size: 14px;
        font-weight: 600;
        text-decoration: underline;
        color: var(--text-color);

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  // .admin-applications__others-label

  &__others-label {
    margin-bottom: 25px;
    font-weight: 600;
  }
}

.admin-legal {
  // .admin-legal__infos

  &__infos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    margin-bottom: 25px;
  }

  // .admin-legal__info

  &__info {
  }

  // .admin-legal__info-blocks

  &__info-blocks {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 15px;
    max-width: 355px;
  }

  // .admin-legal__info-block

  &__info-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  // .admin-legal__info-top

  &__info-top {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-bottom: 25px;
  }

  // .admin-legal__info-label

  &__info-label {
    font-weight: 13px;
    font-weight: 600;
  }

  // .admin-legal__info-name

  &__info-name {
    font-weight: 600;
  }

  // .admin-legal__info-descr

  &__info-descr {
    font-weight: 13px;
    color: var(--text-color);
  }

  // .admin-legal__info-bottom

  &__info-bottom {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-top: auto;
  }

  // .admin-legal__info-link

  &__info-link {
    text-decoration: underline;
    font-weight: 600;
    font-size: 13px;
    color: var(--grey-color-2);
  }

  // .admin-legal__documents

  &__documents {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
  }

  // .admin-legal__documents-label

  &__documents-label {
    margin-bottom: 10px;
    font-size: 13px;
    font-weight: 600;
  }

  // .admin-legal__document

  &__document {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--grey-color, #d1d1d1);
    background-color: var(--grey-color-3, #f6f6f6);

    font-size: 13px;
    font-weight: 600;
    cursor: pointer;

    &:hover {
      border: 1px solid #eeb90b;
    }
  }
}

.admin-legal {
  // .admin-legal__inputs

  &__inputs {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-bottom: 25px;
  }

  // .admin-legal__input-group

  &__input-group {
    background-color: var(--bg-color);
  }

  // .admin-legal__input-label

  &__input-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
    cursor: pointer;
  }

  // .admin-legal__input-textarea

  &__input-textarea {
    height: 100px;
  }

  // .admin-legal__input-file

  &__input-file {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    z-index: -100;
  }

  // .admin-legal__input-placeholder

  &__input-placeholder {
    font-size: 13px;
    color: var(--grey-color-2);
  }
}

.admin-legal__input-texts {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.admin-applications__item-content--waiting {
  text-align: right;
  font-size: 12px;
  font-weight: 600;
  color: var(--grey-color-2);
}

.admin-applications__waiting {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}

.payment__wait-img {
  width: 35px;
  height: 35px;
}

.admin-applications__waiting-label {
  font-weight: 600;
}

.admin-applications__list--six-column {
  .admin-applications__item {
    grid-template-columns: repeat(6, 1fr);
  }

  .admin-applications__item-content:last-child {
    margin-left: auto;
    font-size: 13px;
    text-align: right;

    span {
      max-width: 150px;
    }
  }
}

.admin-applications__item--waiting-dark {
  border: 1px solid var(--text-color, #292421);
  background: var(--grey-color-2, #6f6f6f);
  color: var(--white-color);

  .admin-applications__item-content:last-child {
    color: var(--grey-color);
  }
}

.admin-applications__item--rejected {
  border: 1px solid var(--error-color, #ee2f2b);
  background: rgba(238, 47, 43, 0.1);

  .admin-applications__item-content:last-child {
    color: var(--error-color);
  }
}

.admin-applications__item--waiting-grey {
  background: var(--light-grey-50, rgba(209, 209, 209, 0.5));

  .admin-applications__item-content:last-child {
    color: var(--grey-color-2);
  }
}

.admin-applications__item--sussfily {
  border: 1px solid var(--green-color, #33a02c);
  background: rgba(51, 160, 44, 0.1);

  .admin-applications__item-content:last-child {
    color: var(--green-color);
  }
}

.admin-legal {
  // .admin-legal__documents-header

  &__documents-header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 15px;
    row-gap: 15px;
    margin-bottom: 15px;

    .admin-legal__info-top {
      margin-bottom: 0;
    }
  }
}

.admin-legal__documents-footer {
  margin-top: 20px;

  .admin-legal__input-group {
    background-color: transparent;
  }
}

.admin-legal__info-header {
  margin-bottom: 15px;

  .admin-legal__info-top {
    margin-bottom: 0;
  }
}

.admin-legal__info-deposite {
  font-size: 36px;
  font-weight: 500;
  line-height: 120%;

  span {
    font-size: 30px;
    font-weight: 400;
    line-height: 120%;
    color: var(--grey-color-2);
  }
}
