.landing-page {
  width: 100%;
  overflow: hidden;

  &__container {
    max-width: 1480px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
  }

  // .landing-page__inner

  &__inner {
    width: 100%;
  }

  // .landing-page__hero

  &__hero {
    position: relative;
    width: 100%;
    padding: 150px 0 100px;

    @media (max-width: $breakpoint1300) {
      padding: 100px 0;
    }

    @media (max-width: $breakpoint992) {
      padding: 60px 0;
    }

    @media (max-width: $breakpoint768) {
      padding: 40px 0;
    }
  }

  // .landing-page__hero-banner

  &__hero-banner {
    position: absolute;
    top: 100px;
    left: -60px;

    @media (max-width: $breakpoint1300) {
      left: 0;
      top: 50%;
      transform: translateY(-50%);

      img {
        max-width: 60%;
      }
    }

    @media (max-width: $breakpoint992) {
      display: none;
    }
  }

  &__hero-banner--second {
    top: 0px;
    left: auto;
    right: -60px;

    @media (max-width: $breakpoint1300) {
      text-align: right;
      left: auto;
      right: 0;
    }
  }

  // .landing-page__hero-main

  &__hero-main {
    max-width: 580px;
    min-width: 580px;
    width: 100%;
    margin: 0 auto;

    @media (max-width: $breakpoint992) {
      max-width: 100%;
      min-width: 0;
    }
  }

  // .landing-page__hero-title

  &__hero-title {
    margin-bottom: 55px;
    text-align: center;
    font-size: 54px;
    font-weight: 600;
    line-height: 120%;

    @media (max-width: $breakpoint992) {
      margin-bottom: 40px;
    }

    @media (max-width: $breakpoint768) {
      font-size: 32px;
      margin-bottom: 30px;
    }
  }

  // .landing-page__telegram

  &__telegram {
    display: flex;
    flex-direction: column;
    row-gap: 55px;
    align-items: center;
    margin-bottom: 100px;

    @media (max-width: $breakpoint992) {
      row-gap: 40px;
      margin-bottom: 60px;
    }

    @media (max-width: $breakpoint768) {
      margin-bottom: 30px;
    }
  }

  // .landing-page__telegram-label

  &__telegram-label {
    font-size: 24px;
    text-align: center;
    color: var(--grey-color-2);
    line-height: 120%;

    @media (max-width: $breakpoint768) {
      font-size: 18px;
    }
  }

  // .landing-page__telegram-picture

  &__telegram-picture {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  // .landing-page__telegram-icon

  &__telegram-icon {
    position: absolute;
    // top: -30px;
    left: 50%;
    width: 60px;
    height: 60px;
    transform: translateX(-50%);
  }

  // .landing-page__telegram-qr

  &__telegram-qr {
    padding-top: 30px;
  }

  // .landing-page__telegram-btn

  &__telegram-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;
    padding: 15px 20px;
    border-radius: 10px;
    border: 1px solid var(--telegram-color, #2ca3df);
    background-color: var(--telegram-color, #2ca3df);

    font-size: 16px;
    font-weight: 600;
    line-height: 120%;
    color: var(--white-color);

    transition: background-color 0.2s linear, color 0.2s linear;

    &:hover {
      background-color: var(--white-color);
      color: #2ca3df;
    }

    @media (max-width: $breakpoint768) {
      width: 100%;
    }
  }

  // .landing-page__hero-footer

  &__hero-footer {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
    text-align: center;

    @media (max-width: $breakpoint768) {
      row-gap: 16px;
    }
  }

  // .landing-page__hero-subtitle

  &__hero-subtitle {
    font-weight: 600;
    line-height: 120%;
    font-size: 44px;
    color: var(--grey-color-2);

    @media (max-width: $breakpoint768) {
      font-size: 24px;
    }
  }

  // .landing-page__hero-text

  &__hero-text {
    font-weight: 400;
    line-height: 120%;
    font-size: 24px;
    color: var(--grey-color-2);

    @media (max-width: $breakpoint768) {
      font-size: 18px;
    }
  }

  // .landing-page__partners

  &__partners {
    padding: 40px 40px 60px 40px;
    border-radius: 10px;
    background: var(--light-grey-20, rgba(209, 209, 209, 0.2));
    margin-bottom: 100px;
    overflow: hidden;

    @media (max-width: $breakpoint992) {
      margin-bottom: 60px;
    }

    @media (max-width: $breakpoint768) {
      margin-bottom: 60px;
      padding: 25px;
    }
  }

  // .landing-page__partners-label

  &__partners-label {
    margin-bottom: 20px;
    font-weight: 600;
    line-height: 120%;
    font-size: 36px;
  }

  // .landing-page__partners-list

  &__partners-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
    padding-bottom: 10px;
    overflow-y: auto;

    &::-webkit-scrollbar {
      height: 5px;
    }

    &::-webkit-scrollbar-track {
      background: var(--color-primary);
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 5px;
      height: 3px;
      background: var(--second-color);
    }

    scrollbar-color: var(--second-color) #e3e3e3;
    scrollbar-width: thin;

    @media (max-width: $breakpoint768) {
      column-gap: 10px;
    }
  }

  // .landing-page__partners-item

  &__partners-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--white-color);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);

    @media (max-width: $breakpoint768) {
      padding: 10px;
    }
  }

  // .landing-page__partners-pic

  &__partners-pic {
  }

  // .landing-page__benifits

  &__benifits {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 265px 265px;
    row-gap: 15px;
    column-gap: 15px;
    margin-bottom: 100px;

    @media (max-width: $breakpoint992) {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: auto;
      margin-bottom: 60px;
    }

    @media (max-width: $breakpoint768) {
      margin-bottom: 60px;
    }
  }

  // .landing-page__benifits-block

  &__benifits-block {
    display: flex;
    flex-direction: column;
    padding: 45px 35px 35px;
    border-radius: 10px;

    @media (max-width: $breakpoint1200) {
      padding: 24px;
    }

    p {
      font-size: 24px;
      font-weight: 400;
      line-height: 120%;

      @media (max-width: $breakpoint1200) {
        font-size: 20px;
      }

      @media (max-width: $breakpoint768) {
        font-size: 18px;
      }
    }

    &:nth-child(1) {
      grid-row: span 2;
      background-color: var(--white-color);
      padding-bottom: 360px;

      text-align: center;

      background-image: url("../img/landing-page__benifits-1.png");
      background-repeat: no-repeat;
      background-position: bottom center;

      @media (max-width: $breakpoint992) {
        grid-row: span 1;
        min-height: 480px;
      }
    }

    &:nth-child(2) {
      grid-row: span 1;
      background-color: var(--text-color);
      color: var(--white-color);

      background-image: url("../img/landing-page__benifits-2.png");
      background-repeat: no-repeat;
      background-position: right 0;

      @media (max-width: $breakpoint992) {
        height: 260px;
      }

      @media (max-width: $breakpoint768) {
        background-position: right bottom;
      }
    }

    &:nth-child(3) {
      grid-row: span 1;
      background-color: #ececec;

      background-image: url("../img/landing-page__benifits-3.png");
      background-repeat: no-repeat;
      background-position: right 0;

      @media (max-width: $breakpoint992) {
        height: 260px;
      }

      @media (max-width: $breakpoint768) {
        background-size: 60%;
        background-position: right bottom;
      }
    }
  }

  // .landing-page__benifits-title

  &__benifits-title {
    margin-bottom: 15px;
    font-size: 32px;
    font-weight: 600;
    line-height: normal;

    @media (max-width: $breakpoint1200) {
      font-size: 24px;
    }

    @media (max-width: $breakpoint768) {
      font-size: 20px;
    }
  }

  // .landing-page__counts

  &__counts {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2px 1fr 2px 1fr;
    align-items: center;
    column-gap: 15px;
    margin-bottom: 100px;
    background-color: var(--second-color);

    &::before {
      content: "";
      position: absolute;
      left: -500%;
      top: 0;
      width: 1000%;
      height: 100%;
      background-color: var(--second-color);
      z-index: -1;
    }

    @media (max-width: $breakpoint992) {
      margin-bottom: 60px;
    }

    @media (max-width: $breakpoint768) {
      grid-template-columns: repeat(1, 1fr);
      margin-bottom: 60px;
    }
  }

  // .landing-page__counts-group

  &__counts-group {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    justify-items: center;
    align-items: center;
    padding: 35px;
    text-align: center;

    @media (max-width: $breakpoint992) {
      padding: 35px 20px;
    }

    p {
      font-size: 24px;
      font-weight: 600;
      line-height: 120%;

      @media (max-width: $breakpoint992) {
        font-size: 20px;
      }

      @media (max-width: $breakpoint768) {
        font-size: 18px;
      }
    }

    span {
      font-size: 54px;
      font-weight: 600;
      line-height: 120%;

      @media (max-width: $breakpoint992) {
        font-size: 40px;
      }

      @media (max-width: $breakpoint768) {
        font-size: 28px;
      }
    }
  }

  // .landing-page__counts-border

  &__counts-border {
    width: 2px;
    height: 100px;
    border-radius: 5px;
    background: var(--dark-yellow, #eeb90b);

    @media (max-width: $breakpoint768) {
      width: 100%;
      height: 2px;
    }
  }

  // .landing-page__started

  &__started {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    max-width: 610px;
    height: 100%;
    margin: 0 auto 100px;
    text-align: center;

    @media (max-width: $breakpoint992) {
      margin-bottom: 60px;
    }

    @media (max-width: $breakpoint768) {
      margin-bottom: 60px;
    }
  }

  // .landing-page__started-title

  &__started-title {
    text-align: center;
    font-size: 44px;
    font-weight: 600;
    line-height: 120%;
    color: var(--grey-color-2);

    @media (max-width: $breakpoint992) {
      font-size: 32px;
    }

    @media (max-width: $breakpoint768) {
      font-size: 24px;
    }
  }

  // .landing-page__started-link

  &__started-link {
    width: fit-content;
    margin: 0 auto;
  }
}

.landing-page__btn {
  font-size: 16px;
}

.landing-page-second {
  .landing-page__telegram {
    margin-bottom: 220px;
  }
}

.landing-page__working {
  position: relative;
  display: flex;
  min-height: 540px;
  padding: 77px 70px;
  margin-bottom: 100px;
  border-radius: 10px;
  background-image: url("../img/landing-page__working-bg.png");
  background-position: right center;
  background-repeat: no-repeat;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #e8e8e5 0%, #fbf5ec 100%);
    z-index: -1;
  }

  @media (max-width: $breakpoint1450) {
    min-height: 400px;
    padding: 40px;
    margin-bottom: 60px;
    background-size: contain;
    background-position: 400px center;
  }

  @media (max-width: $breakpoint768) {
    min-height: 300px;
    margin-bottom: 40px;
    background-position: 200px bottom;
  }
}

.landing-page__working-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 20px;
  max-width: 420px;

  @media (max-width: $breakpoint992) {
    max-width: 300px;
  }
}

.landing-page__working-title {
  font-size: 44px;
  font-weight: 600;
  line-height: 120%;

  @media (max-width: $breakpoint992) {
    font-size: 30px;
  }

  @media (max-width: $breakpoint768) {
    font-size: 24px;
  }
}

.landing-page__working-descr {
  font-size: 24px;
  font-weight: 400;
  line-height: 120%;
  color: var(--grey-color-2);

  @media (max-width: $breakpoint992) {
    font-size: 20px;
  }

  @media (max-width: $breakpoint768) {
    font-size: 18px;
  }
}

.landing-page__working-link {
  width: fit-content;
}

.landing-page__working-picture {
}

.landing-page__blocks {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 16px;
  column-gap: 16px;
  margin-bottom: 100px;

  @media (max-width: $breakpoint992) {
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 60px;
  }

  @media (max-width: $breakpoint768) {
    margin-bottom: 40px;
  }
}

.landing-page__block {
  padding: 30px;
  border-radius: 10px;
  background-color: var(--text-color);
  color: var(--white-color);
  font-weight: 600;
  line-height: 120%;
  font-size: 24px;

  @media (max-width: $breakpoint992) {
    font-size: 20px;
  }

  @media (max-width: $breakpoint768) {
    padding: 20px;
    font-size: 18px;
  }
}

.landing-page__block--yellow {
  background-color: var(--second-color);
  color: var(--text-color);
}

.landing-page__grade {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: center;
  column-gap: 60px;
  padding-top: 60px;
  margin-bottom: 100px;
  border-radius: 10px;
  background-color: var(--white-color);

  @media (max-width: $breakpoint992) {
    column-gap: 40px;
    margin-bottom: 60px;
  }

  @media (max-width: $breakpoint768) {
    display: flex;
    flex-direction: column-reverse;
    row-gap: 20px;
    margin-bottom: 40px;
  }
}

.landing-page__grade-picture {
  display: flex;
  align-items: flex-end;
  margin-top: auto;

  @media (max-width: $breakpoint992) {
    img {
      max-width: 100%;
    }
  }
}

.landing-page__grade-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 20px;
  max-width: 450px;
  width: 100%;
  height: 100%;
  padding: 28px 0 60px;

  @media (max-width: $breakpoint768) {
    max-width: 100%;
    padding: 20px 20px 0;
    text-align: center;
  }
}

.landing-page__grade-title {
  font-size: 36px;
  font-weight: 600;
  line-height: 120%;

  @media (max-width: $breakpoint992) {
    font-size: 24px;
  }

  @media (max-width: $breakpoint768) {
    font-size: 20px;
  }
}

.landing-page__grade-descr {
  font-size: 24px;
  font-weight: 400;
  line-height: 120%;

  @media (max-width: $breakpoint992) {
    font-size: 20px;
  }

  @media (max-width: $breakpoint768) {
    font-size: 18px;
  }
}

.landing-page__grade-link {
  width: fit-content;
  font-size: 16px;

  @media (max-width: $breakpoint768) {
    width: 100%;
  }
}

.landing-page__services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 15px;
  column-gap: 15px;
  margin-bottom: 100px;

  @media (max-width: $breakpoint992) {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 60px;
  }

  @media (max-width: $breakpoint768) {
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 40px;
  }
}

.landing-page__services-item {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  padding: 30px;
  border-radius: 10px;
  background: var(--light-grey-20, rgba(209, 209, 209, 0.2));
}

.landing-page__services-label {
  font-weight: 600;
  line-height: 120%;
  font-size: 24px;

  @media (max-width: $breakpoint768) {
    font-size: 20px;
  }
}

.landing-page__services-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
}

.landing-page__integration {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 20px;
  padding: 35px 60px;
  margin-bottom: 100px;
  background-color: var(--text-color);
  border-radius: 10px;
  overflow: hidden;

  @media (max-width: $breakpoint992) {
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    margin-bottom: 60px;
  }

  @media (max-width: $breakpoint768) {
    margin-bottom: 40px;
  }
}

.landing-page__integration-info {
  display: flex;
  flex-direction: column;
  row-gap: 35px;
  max-width: 530px;
}

.landing-page__integration-title {
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  color: var(--white-color);

  @media (max-width: $breakpoint992) {
    font-size: 24px;
  }

  @media (max-width: $breakpoint768) {
    font-size: 20px;
  }
}

.landing-page__integration-link {
  font-size: 16px;
  width: fit-content;
}

.landing-page__integration-picture {
  position: absolute;
  right: 40px;
  bottom: 0;
  width: 390px;
  height: 340px;

  @media (max-width: $breakpoint992) {
    position: static;
    margin-left: auto;
  }
}

.chat__container {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 1480px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
}

.chat {
  position: fixed;
  top: 60vh;
  transform: translateX(-50%);
  z-index: 100;
}

.chat__btn {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  margin-right: 10px;
  border-radius: 35px;
  background-color: var(--second-color);
  cursor: pointer;

  transition: transform 0.2s linear;

  &:hover {
    transform: scale(1.2);
  }
}

.landing-page__partners-item--last {
  .landing-page__partners-pic {
    width: 50px;
    height: 50px;
  }
}
