.stats {

  // .stats__inner

  &__inner {}

  // .stats__top

  &__top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    column-gap: 20px;
    row-gap: 20px;
    padding: 30px;
    margin-bottom: 15px;
    border-radius: 10px;
    background-color: var(--white-color);

    @media (max-width: $breakpoint1200) {
      flex-direction: column-reverse;
    }

    @media (max-width: $breakpoint768) {
      padding: 20px;
    }
  }

  // .stats__info

  &__info {
    display: flex;
    align-items: center;
    column-gap: 45px;

    @media (max-width: $breakpoint768) {
      flex-direction: column;
      align-items: flex-start;
      row-gap: 20px;
    }
  }

  // .stats__circkle

  &__circkle {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 240px;
    height: 240px;

    svg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    @media (max-width: $breakpoint1300) {
      width: 180px;
      height: 180px;
    }
  }

  // .stats__circkle-count

  &__circkle-count {
    font-size: 24px;
    font-weight: 600;
    text-align: center;

    span {
      display: block;
      font-size: 16px;
      font-weight: 400;
    }

    @media (max-width: $breakpoint1300) {
      font-size: 16px;

      span {
        font-size: 13px;
      }
    }
  }

  // .stats__selects-wrapper

  &__selects-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 25px;

    @media (max-width: $breakpoint1300) {
      row-gap: 15px;
    }
  }

  // .stats__selects

  &__selects {
    display: flex;
    align-items: center;
    column-gap: 10px;
  }

  // .stats__selects-tab

  &__selects-tab {
    font-size: 24px;
    font-weight: 600;
    color: var(--grey-color);
    transition: color 0.2s linear;

    &.active {
      color: var(--text-color);
    }

    &:hover {
      color: var(--text-color);
    }

    @media (max-width: $breakpoint1300) {
      font-size: 16px;
    }
  }

  // .stats__selects-label

  &__selects-label {
    font-size: 16px;
    font-weight: 600;
    color: var(--grey-color);
    transition: color 0.2s linear;

    &.active {
      color: var(--text-color);
    }

    &:hover {
      color: var(--text-color);
    }

    @media (max-width: $breakpoint1300) {
      font-size: 13px;
    }
  }

  // .stats__checheds

  &__checheds {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 25px;
    row-gap: 15px;

    @media (max-width: $breakpoint480) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  // .stats__cheched

  &__cheched {
    display: flex;
    align-items: center;
    column-gap: 15px;
    color: var(--black-color);
  }

  // .stats__groups

  &__groups {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 15px;
    row-gap: 15px;

    @media (max-width: $breakpoint768) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  // .stats__group

  &__group {
    padding: 25px 30px;
    background-color: var(--white-color);
    border-radius: 10px;

    img {
      max-width: 100%;
      height: auto;
      object-fit: cover;
    }

    @media (max-width: $breakpoint768) {
      padding: 20px;
    }
  }

  // .stats__title

  &__title {
    margin-bottom: 60px;

    @media (max-width: $breakpoint768) {
      margin-bottom: 30px;
    }
  }

  // .stats__counts

  &__counts {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
  }

  // .stats__count

  &__count {
    display: flex;
    align-items: center;
    column-gap: 15px;
    font-size: 24px;
    font-weight: 600;
    color: var(--grey-color-2);

    span {
      color: var(--text-color);
    }

    @media (max-width: $breakpoint1300) {
      font-size: 16px;
    }
  }
}