.sidebar {
  width: 320px;
  min-width: 320px;
  max-width: 320px;
  padding: 70px 0 20px 30px;
  background-color: var(--white-color);

  // .sidebar__inner

  &__inner {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
  }

  // .sidebar__header

  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 24px;
  }

  // .sidebar__logo

  &__logo {}

  // .sidebar__logo-img

  &__logo-img {}

  // .sidebar__user

  &__user {}

  // .sidebar__user-icon

  &__user-icon {}

  // .sidebar__bell

  &__bell {}

  // .sidebar__currency

  &__currency {
    position: relative;
    padding: 20px 30px;
  }

  // .sidebar__currency-inner

  &__currency-inner {
    display: flex;
    align-items: center;
  }

  // .sidebar__currency-label

  &__currency-label {
    margin-right: 10px;
  }

  // .sidebar__currency-select

  &__currency-select {
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-weight: 600;
    font-size: 24px;
  }

  // .sidebar__currency-srrow

  &__currency-srrow {}

  // .sidebar__menu

  &__menu {}

  // .sidebar__menu-list

  &__menu-list {}

  // .sidebar__menu-item

  &__menu-item {

    &.active>.sidebar__menu-sublist {
      height: 100%;
      width: 100%;
      opacity: 1;
    }
  }

  &__menu-item-main {
    display: flex;
    align-items: center;
  }

  // .sidebar__menu-link

  &__menu-link {
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 10px 20px;
    color: var(--grey-color-2);
  }

  // .sidebar__menu-icon

  &__menu-icon {}

  // .sidebar__menu-name

  &__menu-name {}

  // .sidebar__menu-arrow

  &__menu-arrow {
    cursor: pointer;
  }

  // .sidebar__menu-sublist

  &__menu-sublist {
    height: 0;
    width: 0;
    opacity: 0;

    transition: height 0.4s linear, width 0.1s linear, opacity 0.2s linear;
  }

  // .sidebar__menu-subitem

  &__menu-subitem {}

  // .sidebar__menu-sublink

  &__menu-sublink {
    display: flex;
    align-items: center;
    padding: 10px 0 10px 40px;
    width: 100%;
  }
}