.project-error {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: red;
  margin-top: 10px;
}

.sidebar__menu-sublink.active::before {
  z-index: -1;
}

.my-projects__error {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: red;
  margin-bottom: 10px;
}

.my-projects__group-selected--disabled {
  color: var(--grey-color-2);
}

.settings-notifications .project-group:not(:last-child) {
  margin-bottom: 10px;
}

.settings-notifications__checkboxes-errored {
  margin-bottom: 0;
}
.settings-notifications__checkboxes-error {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: red;
  margin-top: 10px;
  margin-bottom: 35px;
}

.modal-content__error {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: red;
  margin-top: 10px;
}

.settings-profile__user-back {
  cursor: pointer;
}

.settings-security__input-error {
  margin-bottom: 10px;
}

.resend-btn {
  background-color: unset;
  cursor: pointer;
  color: var(--text-color);
  display: block;
  margin-top: 5px;
}

.resend-btn:hover {
  color: var(--second-color);
}
