.project-error {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: red;
  margin-top: 10px;
}

.sidebar__menu-sublink.active::before {
  z-index: -1;
}

.my-projects__error {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: red;
  margin-bottom: 10px;
}

.my-projects__group-selected--disabled {
  color: var(--grey-color-2);
}

.settings-notifications .project-group:not(:last-child) {
  margin-bottom: 10px;
}

.settings-notifications__checkboxes-errored {
  margin-bottom: 0;
}
.settings-notifications__checkboxes-error {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: red;
  margin-top: 10px;
  margin-bottom: 35px;
}

.modal-content__error {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: red;
  margin-top: 10px;
}

.settings-profile__user-back {
  cursor: pointer;
}

.settings-security__input-error {
  margin-bottom: 10px;
}

.resend-btn {
  background-color: unset;
  cursor: pointer;
  color: var(--text-color);
  display: block;
  margin-top: 5px;
}

.resend-btn:hover {
  color: var(--second-color);
}

/* _base.scss */

.select-list.active {
  max-height: 200px;
}

/* admin-marchants.scss */

.admin-marchants__item-action-btn {
  fill: #292421;
}

.admin-marchants__item-action-btn--mute {
  fill: #d1d1d1;
}

/* _admin-marchants.scss */

.admin-marchants__item-statistic {
  color: #000;
}

/* _admin-statistics.scss */

.admin-statistic__form-arrow {
  transition: transform 0.2s linear;
}

.admin-statistic__form-arrow--active {
  transform: rotate(180deg);
}

/* _deposits.scss */

.deposits__filter-search__apply-btn {
  position: absolute;
  top: 5px;
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 7px;
  background-color: var(--bg-grey-color);
  border: 1px solid var(--bg-grey-color);
  border-radius: 10px;
  font-family: Raleway, sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 120%;
  color: var(--text-color);
  display: none;
}

.deposits__filter-search__apply-btn:hover {
  color: var(--grey-color);
}

.deposits__filter-search__apply-btn--active {
  display: flex;
}

/* rc-tooltip/assets/bootstrap.css */

.rc-tooltip-placement-top,
.rc-tooltip-placement-topLeft,
.rc-tooltip-placement-topRight {
  padding: 5px 0 4px 0;
}
.rc-tooltip-placement-right,
.rc-tooltip-placement-rightTop,
.rc-tooltip-placement-rightBottom {
  padding: 0 5px 0 4px;
}
.rc-tooltip-placement-bottom,
.rc-tooltip-placement-bottomLeft,
.rc-tooltip-placement-bottomRight {
  padding: 4px 0 5px 0;
}
.rc-tooltip-placement-left,
.rc-tooltip-placement-leftTop,
.rc-tooltip-placement-leftBottom {
  padding: 0 4px 0 5px;
}
