.admin-statistic {

  // .admin-statistic__container

  &__container {}
}

.admin-applications {

  // .admin-applications__from

  &__from {
    margin-bottom: 30px;
  }

  // .admin-applications__search

  &__search {}

  // .admin-applications__src

  &__src {}

  // .admin-applications__search-img

  &__search-img {}

  // .admin-applications__datapicker

  &__datapicker {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    background-color: transparent;
  }

  // .admin-applications__header

  &__header {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 30px;
    padding: 5px;
    border-radius: 10px;
    background-color: var(--grey-color);
  }

  // .admin-applications__header-item

  &__header-item {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    padding: 15px 20px;
    border-radius: 10px;
    font-weight: 600;
    text-align: center;

    &.disabled {
      color: var(--grey-color-2);
    }

    &.active {
      background-color: var(--text-color);
      color: var(--white-color);
    }

  }

  // .admin-applications__header-item-count

  &__header-item-count {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 25px;
    min-height: 25px;
    padding: 2px 4px;
    border-radius: 100%;
    background-color: var(--error-color);
    color: var(--white-color);
  }

  // .admin-applications__main

  &__main {}

  // .admin-applications__list

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
  }

  // .admin-applications__item

  &__item {
    display: grid;
    grid-template-columns: 200px 300px 1fr 120px;
    padding: 15px 20px;
    background-color: var(--grey-color-3);
    border: 1px solid transparent;
    border-radius: 10px;
    font-weight: 600;
  }

  // .admin-applications__item-header

  &__item-header {
    background-color: transparent;
  }

  // .admin-applications__item-content

  &__item-content {
    display: flex;
    align-items: center;
    column-gap: 5px;
  }

  // .admin-applications__item--light

  &__item--light {
    background-color: transparent;
    border: 1px solid var(--grey-color);
  }
}



.admin-applications {

  // .admin-applications__back

  &__back {
    display: flex;
    align-items: center;
    column-gap: 15px;
    margin-bottom: 30px;

    font-weight: 600;
    color: #000;

    img {
      transition: transform 0.2s linear;
    }

    &:hover {
      img {
        transform: translateX(-5px);
      }
    }
  }


  // .admin-applications__request

  &__request {
    padding: 30px 20px 25px;
  }

  // .admin-applications__request-label

  &__request-label {
    margin-bottom: 25px;
    font-weight: 600;
  }

  // .admin-applications__request-header

  &__request-header {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
  }

  // .admin-applications__request-info

  &__request-info {
    display: flex;
    align-items: center;
    column-gap: 35px;
  }

  // .admin-applications__request-type

  &__request-type {
    font-size: 13px;
    font-weight: 600;
  }

  // .admin-applications__request-id

  &__request-id {

    span {
      font-weight: 600;
    }
  }

  // .admin-applications__request-statistic

  &__request-statistic {
    display: flex;
    align-items: center;
    column-gap: 5px;
    margin-left: auto;
  }

  // .admin-applications__blocks-wrapper

  &__blocks-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 15px;
    row-gap: 10px;
    margin-bottom: 25px;
  }

  // .admin-applications__block

  &__block {
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--grey-color, #D1D1D1);
    background: var(--grey-color-3, #F6F6F6);
  }

  // .admin-applications__block-label

  &__block-label {
    font-weight: 13px;
    font-weight: 600;
  }

  // .admin-applications__block-text

  &__block-text {
    margin-bottom: -3px;
    font-size: 13px;
  }

  // .admin-applications__block--column

  &__block--column {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 10px;
  }

  // .admin-applications__block-others

  &__block-others {

    .admin-applications__block {
      border: 0;
      background-color: transparent;
    }
  }

  // .admin-applications__blocks

  &__blocks {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  // .admin-applications__block-naming

  &__block-naming {
    display: flex;
    align-items: center;
    column-gap: 5px;
    font-weight: 600;
    flex-wrap: wrap;

    img {
      width: 15px;
      height: 15px;
      object-fit: cover;
    }
  }

  // .admin-applications__footer

  &__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
  }

  // .admin-applications__btn

  &__btn {}

  // .admin-applications__others

  &__others {
    padding: 0 20px 30px;

    .my-projects__item {
      padding: 5px 10px;
      border-radius: 10px;
      border: 1px solid var(--grey-color, #D1D1D1);
      background: var(--light-grey-20, rgba(209, 209, 209, 0.20));
    }

    .my-projects__item-title {
      margin-bottom: 5px;
      font-size: 16px;
    }

    .my-projects__item-text {
      font-size: 13px;
    }

    .my-projects__item-currency {
      font-size: 13px;
    }

    .my-projects__item-btn {
      display: flex;
      align-items: center;
      column-gap: 20px;

      img {
        cursor: pointer;
      }

      a {
        font-size: 14px;
        font-weight: 600;
        text-decoration: underline;
        color: var(--text-color);

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  // .admin-applications__others-label

  &__others-label {
    margin-bottom: 25px;
    font-weight: 600;
  }
}