// ************************ Модальное окно ************************ //
// ************************ Модальное окно ************************ //
.modals-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.modal {
  // display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  user-select: none;
  pointer-events: none;
  transform: scale(0.6);
  transition: opacity 0.2s ease-in-out, transform 0.2s linear;
  // animation: fade 0.3s linear;

  z-index: 11;
}

.modal.select-modal {
  z-index: 12;
}

.open-modal-btn {
  cursor: pointer;
}

.modal.show {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  user-select: auto;
  pointer-events: visible;
  transform: scale(1)
}

.modal-content {
  position: relative;
  background-color: var(--bg-color);
  margin: 10% auto;
  padding: 30px;
  width: 80%;
  max-width: 500px;
  border-radius: 10px;
  opacity: 0;
  transform: translateY(-50px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;

  @media (max-width: $breakpoint768) {
    width: 90%;
  }

}

.modal.show .modal-content {
  opacity: 1;
  transform: translateY(0);
}

.close-modal-btn {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;

  transition: transform 0.2s linear;

  &:hover {
    transform: scale(1.1);
  }
}

.modal-content {

  // .modal-content__header

  &__header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;

    h2 {
      font-weight: 600;
      font-size: 24px;
      line-height: 24px;

      @media (max-width: $breakpoint1300) {
        font-size: 16px;
      }
    }
  }

  // .modal-content__main

  &__main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  // .modal-content__checked

  &__checked {
    margin-bottom: 25px;
    width: 60px;
    height: 60px;
  }

  // .modal-content__checked-img

  &__checked-img {
    width: 60px;
    height: 60px;
  }

  // .modal-content__subtitle

  &__subtitle {
    max-width: 214px;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
    font-size: 24px;
    line-height: 120%;

    @media (max-width: $breakpoint1300) {
      font-size: 16px;
    }
  }

  // .modal-content__qr

  &__qr {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    border-radius: 10px;
  }

  // .modal-content__qr-img

  &__qr-img {}

  // .modal-content__copy

  &__copy {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    column-gap: 20px;
    margin-bottom: 20px;
    padding: 15px;
    background: var(--bg-grey-color);
    border-radius: 10px;
  }

  // .modal-content__copy-text

  &__copy-text {
    text-decoration: underline;
    color: var(--grey-color-2);
    cursor: pointer;
    transition: color 0.2s linear;

    &:hover {
      color: var(--second-color);
    }
  }

  // .modal-content__copy-btn

  &__copy-btn {
    transition: transform 0.2s linear;

    &:hover {
      transform: scale(1.08);
    }
  }

  // .modal-content__copy-img

  &__copy-img {}

  // .modal-content__btn

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
}

.modal-content__qr--big {
  width: 400px;
  height: 400px;
  margin-bottom: 20px;
  border-radius: 10px;

  @media (max-width: $breakpoint768) {
    width: auto;
    height: auto;
  }


  img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
}



.modal-content--select-list {
  max-width: 380px;
  padding: 30px 15px;
  font-family: 'Raleway', sans-serif;
}

.modal-content__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 20px;
  width: 100%;
}

.modal-content__title {
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  color: var(--text-color);
}

.modal-content .deposits__filter-search {
  margin-bottom: 20px;
}

.close-modal-btn {
  background-color: transparent;
}

.crypto__list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 100%;
  height: 300px;
  overflow-y: auto;
}

.crypto__list::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.crypto__list::-webkit-scrollbar-track {
  background: var(--color-primary);
}

.crypto__list::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: var(--color-secondary);
}


.crypto___item {
  display: flex;
  align-items: center;
  column-gap: 10px;
  padding: 5px 10px;

  transition: background-color 0.2s linear;
  cursor: pointer;

  &:hover {
    border-radius: 10px;
    background-color: var(--bg-grey-color);
  }
}

.crypto__item-pic {
  width: 25px;
  height: 25px;
  border-radius: 100%;
}

.crypto__item-info {}

.crypto__item-name {
  margin-bottom: 5px;
  font-size: 13px;
  font-weight: 600;
  line-height: 120%;
}

.crypto__item-subname {
  font-size: 13px;
  font-weight: 400;
  line-height: 120%;
}

.crypto__item-counts {
  margin-left: auto;
  text-align: right;
}

.crypto__item-count--main {
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 600;
  line-height: 120%;
}

.crypto__item-count--second {
  font-size: 12px;
  font-weight: 400;
  line-height: 120%;
  color: var(--grey-color-2);
}


.modal-genation-links {

  .about-deposit__generation-select {
    width: 100%;
    margin-bottom: 20px;
  }

  .modal-content__title {
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-size: 16px;

    span {
      padding: 5px;
      border-radius: 100px;
      background-color: var(--second-color);
      font-size: 13px;
      font-weight: 600;
      line-height: 120%;
    }

    @media (max-width: 359px) {
      font-size: 14px;
    }
  }

  .modal-content__btn {
    width: 100%;
  }
}


.modal-notifications {

  .modal-content {
    max-width: 400px;
  }

  .accordion__item {
    user-select: none;
    pointer-events: none;
  }

  .modal-content__title {

    @media (max-width: 420px) {
      display: inline;
      padding-right: 60px;
      font-size: 13px;

      span {
        font-size: 11px;
      }
    }
  }
}

.modal-content__code {
  display: flex;
  align-items: center;
  column-gap: 15px;
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 10px;
  background: var(--grey-color-3);
}

.modal-content__code-num {
  margin-right: auto;
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
  text-decoration-line: underline;
  color: var(--grey-color-2);
}

.modal-content__code-copy {
  background-color: transparent;
}

.modal-content__btns {
  display: flex;
  column-gap: 10px;
}

.modal-link-generated {
  .modal-content__header {
    justify-content: center;
    text-align: center;
  }
}

.modal-content__text {
  margin-bottom: 20px;
  text-align: center;
}



.modal-content {

  .invoice-project__group-selected {
    background-color: var(--white-color);
  }

  .actives-action__withdrawal-header {
    width: 100%;
  }

  .actives-action__withdrawal-group {
    margin-bottom: 20px;
  }

  .modal-content__main-sum {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    background-color: var(--white-color);
    padding: 10px 15px;
    border-radius: 10px;
  }

  .modal-content__main-label {
    display: inline-flex;
    padding-right: 15px;
    margin-right: 15px;

    border-right: 1px solid var(--grey-color-3);

    font-weight: 600;
    line-height: 120%;
    font-size: 13px;
  }

  .modal-content__main-input {
    width: 100%;
    font-weight: 400;
    line-height: 120%;
    font-size: 24px;
    color: var(--text-color);

    outline: 0;
    border: 0;
  }
}

.modal-cash-to-office {

  .modal-content {
    @media (max-width: 420px) {
      width: 96%;
      padding: 10px;
    }
  }
}