.settings-requisites {

  // .settings-requisites__lists

  &__lists {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
  }

  // .settings-requisites__list-wrapper

  &__list-wrapper {}

  // .settings-requisites__header

  &__header {
    display: flex;
    align-items: center;
    column-gap: 15px;
    margin-bottom: 15px;
  }

  // .settings-requisites__title

  &__title {
    font-weight: 600;
    font-size: 24px;

    @media (max-width: $breakpoint1200) {
      font-size: 16px;
    }
  }

  // .settings-requisites__added

  &__added {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 15px 20px;
    border-radius: 10px;
    background-color: var(--grey-color-3);
    font-weight: 600;
    font-size: 13px;
    color: var(--text-color);
    white-space: nowrap;

    transition: background-color 0.2s linear;

    &:hover {
      background-color: var(--second-color);
    }
  }

  // .settings-requisites__list

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
  }

  // .settings-requisites__item

  &__item {
    display: flex;
    align-items: center;
    column-gap: 25px;
    padding: 15px 30px;
    background-color: var(--white-color);
    border-radius: 10px;

    @media (max-width: $breakpoint1300) {
      padding: 15px 20px;
    }

    @media (max-width: $breakpoint1200) {
      font-size: 13px;
    }

    @media (max-width: $breakpoint768) {
      flex-wrap: wrap;
      row-gap: 10px;
      column-gap: 15px;
    }
  }

  // .settings-requisites__item-block

  &__item-block {}

  // .settings-requisites__item-border

  &__item-border {
    width: 1px;
    min-width: 1px;
    height: 19px;
    margin: 0 10px;
    background-color: var(--grey-color-3);

    @media (max-width: $breakpoint1300) {
      margin: 0;
    }

    @media (max-width: $breakpoint768) {
      display: none;
    }
  }

  // .settings-requisites__item-btn

  &__item-btn {
    margin-left: auto;

    @media (max-width: $breakpoint1200) {
      text-transform: capitalize;

      span {
        display: none;
      }
    }
  }

  &__item--addresses {
    @media (max-width: $breakpoint768) {
      display: none;
    }
  }
}