.settings-profile {

  // .git push second-repo main__user

  &__user {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 15px;
    column-gap: 20px;
    padding: 30px;
    background-color: var(--white-color);
    border-radius: 10px;
  }

  // .settings-profile__user-infos

  &__user-infos {
    display: flex;
    align-items: center;
    column-gap: 15px;
  }

  &__user-info {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  // .settings-profile__user-icon

  &__user-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 75px;
    border-radius: 100%;
    border: 1px solid var(--text-color);
    background-color: var(--text-color);
  }

  // .settings-profile__user-name

  &__user-name {}

  // .settings-profile__user-code

  &__user-code {
    font-weight: 600;
  }

  // .settings-profile__user-back

  &__user-back {
    display: flex;
    align-items: center;
    column-gap: 10px;
    color: var(--error-color);

    img {
      transition: transform 0.1s linear;
    }

    &:hover {
      img {
        transform: translateX(3px);
      }
    }
  }

  // .settings-profile__selects

  &__selects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 15px;
    row-gap: 15px;
    margin-top: 15px;

    @media (max-width: $breakpoint768) {
      grid-template-columns: repeat(1, 1fr);
    }

  }

  // .settings-profile__select

  &__select {
    padding: 30px;
    background-color: var(--white-color);
    border-radius: 10px;

    @media (max-width: $breakpoint1300) {
      padding: 20px;
    }
  }

  // .settings-profile__language

  &__language {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    column-gap: 20px;

    @media (max-width: $breakpoint1200) {
      font-size: 13px;
    }
  }

  // .settings-profile__language-selected

  &__language-selected {
    display: flex;
    align-items: center;
    column-gap: 15px;
  }

  // .settings-profile__theme

  &__theme {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
    font-weight: 600;

    @media (max-width: $breakpoint1200) {
      font-size: 13px;
    }
  }

  // .settings-profile__theme-group

  &__theme-groups {
    display: flex;
    align-items: center;
  }

  &__theme-group {

    &:nth-child(1) {
      padding-right: 45px;
      border-right: 1px solid var(--text-color);
    }

    &:nth-child(2) {
      padding-left: 45px;
    }
  }

  // .settings-profile__theme-radio

  &__theme-radio {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    z-index: -100;

    &:checked~.settings-profile__theme-label svg path {
      fill: var(--text-color);
    }
  }

  // .settings-profile__theme-label

  &__theme-label {
    cursor: pointer;
  }

  // .settings-profile__included

  &__included {}

  // .settings-profile__included-label

  &__included-label {
    margin-bottom: 25px;
    font-weight: 600;

    @media (max-width: $breakpoint1200) {
      font-size: 13px;
    }
  }

  // .settings-profile__included-list

  &__included-list {
    display: grid;
    max-width: 265px;
  }

  // .settings-profile__included-item

  &__included-item {
    display: flex;
    align-items: center;
    column-gap: 15px;
  }

  // .settings-profile__included-icon

  &__included-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 45px;
  }

  // .settings-profile__included-text

  &__included-text {
    color: var(--text-color);

    @media (max-width: $breakpoint1200) {
      font-size: 13px;
    }
  }

  // .settings-profile__included-edit

  &__included-edit {
    margin-left: auto;
    cursor: pointer;

    &.checked {
      svg path {
        fill: var(--text-color);
      }
    }

    &:active,
    &:focus,
    &:hover {
      svg path {
        fill: var(--text-color);
      }
    }


  }

  // .settings-profile__notifications

  &__notifications {}

  // .settings-profile__notifications-label

  &__notifications-label {}

  &__notifications-title {
    margin-bottom: 25px;
    font-weight: 600;
  }

  // .settings-profile__notifications-group

  &__notifications-group {
    margin-top: 25px;
  }

  // .settings-profile__notifications-checkbox

  &__notifications-checkbox {}

  // .settings-profile__notifications-decor

  &__notifications-decor {}

  // .settings-profile__notifications-links

  &__notifications-links {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
  }

  // .settings-profile__notifications-link

  &__notifications-link {
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-weight: 400;

    span {
      font-weight: 600;

    }

    @media (max-width: $breakpoint1200) {
      font-size: 13px;
    }
  }
}

.grid-column-1 {
  grid-template-columns: repeat(1, 1fr);
}