.sidebar {
  height: 100%;
  width: 320px;
  min-width: 320px;
  max-width: 320px;
  padding: 60px 0 60px 30px;
  margin-right: 60px;
  background-color: var(--white-color);
  border-right: 1px solid var(--grey-color);
  border-radius: 0px 10px 10px 0px;

  @media (max-width: $breakpoint1450) {
    margin-right: 30px;
  }

  @media (max-width: $breakpoint1200) {
    padding: 60px 0 60px 15px;
  }

  @media (max-width: $breakpoint992) {
    width: 80px;
    min-width: 80px;
    max-width: 80px;
    padding: 60px 0;
  }

  @media (max-width: $breakpoint768) {
    display: none;
  }

  // .sidebar__inner

  &__inner {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
  }

  // .sidebar__header

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 10px;
    column-gap: 24px;

    @media (max-width: $breakpoint992) {
      flex-direction: column;
      row-gap: 30px;
      padding: 0 20px;
    }
  }

  // .sidebar__logo

  &__logo {}

  // .sidebar__logo-img

  &__logo-img {}

  // .sidebar__user

  &__user {}

  // .sidebar__user-icon

  &__user-icon {
    transition: filter 0.2s linear;

    &:hover {
      filter: invert(1);
    }
  }

  // .sidebar__bell

  &__bell {}

  // .sidebar__currency

  &__currency {
    position: relative;
    padding: 20px 30px;
    border-right: 5px solid var(--text-color);

    @media (max-width: $breakpoint992) {
      display: none;
    }
  }

  // .sidebar__currency-inner

  &__currency-inner {
    display: flex;
    align-items: center;
  }

  // .sidebar__currency-label

  &__currency-label {
    margin-right: 10px;

    @media (max-width: $breakpoint1200) {
      font-size: 13px;
    }
  }

  // .sidebar__currency-select

  &__currency-select {
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-weight: 600;
    font-size: 24px;

    cursor: pointer;
  }

  // .sidebar__currency-srrow

  &__currency-srrow {}

  // .sidebar__menu

  &__menu {}

  // .sidebar__menu-list

  &__menu-list {}

  // .sidebar__menu-item

  &__menu-item {

    &.show>.sidebar__menu-sublist {
      height: 100%;
      width: 100%;
      opacity: 1;
      transition: height 0.4s linear, width 0.1s linear, opacity 0.2s linear;

      .sidebar__menu-sublink {
        padding: 10px 0 10px 40px;
        height: 100%;
        color: var(--text-color);
      }
    }


  }

  &__menu-item-main {
    position: relative;
    display: flex;
    align-items: center;
  }

  // .sidebar__menu-link

  &__menu-link {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 10px;
    width: 100%;
    padding: 10px 20px;
    border-right: 3px solid transparent;
    color: var(--grey-color-2);

    &>* {
      z-index: 2;
    }


    &:hover {
      color: var(--text-color);


      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 101%;
        height: 100%;
        background: var(--bg-grey-color);
        border-right: 3px solid var(--second-color);
        border-radius: 10px 0px 0px 10px;

        @media (max-width: $breakpoint992) {
          width: 104%;
        }
      }
    }

    svg path {
      fill: currentColor;
    }

    &.active {
      color: var(--text-color);


      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 101%;
        height: 100%;
        background: var(--bg-grey-color);
        border-right: 3px solid var(--second-color);
        border-radius: 10px 0px 0px 10px;

        @media (max-width: $breakpoint992) {
          width: 104%;
        }
      }
    }

    @media (max-width: $breakpoint1200) {
      font-size: 13px;
    }

    @media (max-width: $breakpoint992) {
      padding: 15px 20px;
      font-size: 0;
    }
  }

  // .sidebar__menu-icon

  &__menu-icon {
    @media (max-width: $breakpoint992) {
      display: flex;
      align-items: center;
    }
  }

  // .sidebar__menu-name

  &__menu-name {}

  // .sidebar__menu-arrow

  &__menu-arrow {
    position: absolute;
    right: 100px;
    cursor: pointer;

    @media (max-width: $breakpoint992) {
      right: 12px;
    }
  }

  // .sidebar__menu-sublist

  &__menu-sublist {
    height: 0;
    // width: 0;
    opacity: 0;
    transition: height 0.4s linear, width 0.1s linear, opacity 0.2s linear;
  }

  // .sidebar__menu-subitem

  &__menu-subitem {}

  // .sidebar__menu-sublink

  &__menu-sublink {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 0 0 40px;
    height: 0;
    width: 100%;
    transition: height 0.4s linear, padding 0.4s linear;
    z-index: 1;

    &:hover {
      color: var(--text-color);

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--bg-grey-color);
        border-right: 3px solid var(--second-color);
        border-radius: 10px 0px 0px 10px;
        z-index: -1;
      }
    }

    svg path {
      fill: currentColor;
    }

    &.active {
      color: var(--text-color);

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--bg-grey-color);
        border-right: 3px solid var(--second-color);
        border-radius: 10px 0px 0px 10px;
      }
    }
  }

  @media (max-width: $breakpoint1200) {
    font-size: 13px;
  }

  @media (max-width: $breakpoint992) {
    font-size: 0;
  }
}

.sidebar {

  // .sidebar__user-list

  &__user-list {
    row-gap: 0;

    &.active {
      width: 188px;
      padding: 20px 10px;
    }
  }

  // .sidebar__user-item

  &__user-item {
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 10px;
    border-radius: 10px;
    white-space: nowrap;
    color: var(--text-color);

    &:nth-child(1) {
      border-bottom: 1px solid var(--bg-grey-color);
    }

    &:hover {
      background: var(--bg-grey-color);
    }
  }

  &__user-item--red {
    color: var(--error-color);
  }

  // .sidebar__user-item-img

  &__user-item-img {}

  // .sidebar__user-item-text

  &__user-item-text {}
}

.sidebar__themes {
  display: flex;
  align-items: center;
  column-gap: 15px;

  @media (max-width: $breakpoint1720) {
    flex-direction: row-reverse;
  }

}

.sidebar__theme {
  cursor: pointer;

  @media (max-width: $breakpoint992) {
    display: none;
  }
}

.sidebar__theme-img {}









.sidebar-mobile {
  display: none;

  @media (max-width: $breakpoint768) {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: var(--text-color);
    border-radius: 10px 10px 0px 0px;
    max-height: 111px;
    overflow: hidden;
    z-index: 10;

    transition: max-height 0.4s linear;
  }


  &.show {
    .sidebar-mobile__item[data-sidebar-mobile-btn] {

      .sidebar-mobile__pic {
        display: none;
      }

      .sidebar-mobile__pic--open {
        display: flex;
      }
    }

    .sidebar-mobile__item.active {
      border-top-color: transparent;
      border-radius: 10px;
    }


    max-height: 300px;
  }


  // .sidebar-mobile__inner

  &__inner {}

  // .sidebar-mobile__header

  &__header {
    display: flex;
    align-items: center;
    column-gap: 15px;
    padding: 25px 35px 15px 35px;
    border-bottom: 1px solid var(--light-grey-20, rgba(209, 209, 209, 0.20));


    @media (max-width: $breakpoint480) {
      padding-right: 10px;
      padding-left: 10px;
    }
  }

  // .sidebar-mobile__user

  &__user {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-right: auto;
  }

  // .sidebar-mobile__user-icon

  &__user-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    min-width: 25px;
    height: 25px;
    border: 1px solid var(--white-color);
    border-radius: 100%;
  }

  // .sidebar-mobile__pic

  &__pic {}

  &__pic--open {
    display: none;
  }

  // .sidebar-mobile__user-name

  &__user-name {
    font-weight: 400;
    line-height: 120%;
    font-size: 13px;
    color: var(--white-color);

    @media (max-width: $breakpoint480) {
      font-size: 10px;
    }
  }

  // .sidebar-mobile__settings

  &__settings {
    display: flex;
    align-items: center;
    column-gap: 10px;
  }

  // .sidebar-mobile__settings-icon

  &__settings-icon {}

  // .sidebar-mobile__settings-name

  &__settings-name {
    font-weight: 400;
    line-height: 120%;
    font-size: 13px;
    color: var(--white-color);

    @media (max-width: $breakpoint480) {
      font-size: 10px;
    }
  }

  // .sidebar-mobile__log-out

  &__log-out {
    display: flex;
    align-items: center;
    column-gap: 10px;
  }

  // .sidebar-mobile__log-out-icon

  &__log-out-icon {}

  // .sidebar-mobile__log-out-name

  &__log-out-name {
    font-weight: 400;
    line-height: 120%;
    font-size: 13px;
    color: var(--error-color);

    @media (max-width: $breakpoint480) {
      font-size: 10px;
    }
  }

  // .sidebar-mobile__middle

  &__middle {
    display: flex;
    justify-content: space-between;
    padding: 0 25px;

    @media (max-width: $breakpoint480) {
      padding: 0 10px;
    }
  }

  // .sidebar-mobile__item

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 3px;
    text-align: center;
    padding: 15px 10px;
    border-radius: 10px;
    cursor: pointer;

    font-weight: 400;
    line-height: 120%;
    font-size: 13px;
    color: var(--white-color);

    @media (max-width: $breakpoint480) {
      font-size: 10px;
    }

    &.active {
      border-radius: 0 0 10px 10px;
      border-top: 3px solid var(--second-color);
      background: var(--light-grey-20, rgba(209, 209, 209, 0.20));

      transition: border-radius 0.2s linear;
    }
  }

  // .sidebar-mobile__item-text

  &__item-text {
    font-weight: 400;
    line-height: 120%;
    font-size: 13px;
    color: var(--white-color);

    @media (max-width: $breakpoint480) {
      font-size: 10px;
    }
  }

  // .sidebar-mobile__main

  &__main {
    display: flex;
    justify-content: space-between;
    padding: 0 25px 40px;

    @media (max-width: $breakpoint480) {
      padding: 0 10px 40px;
    }
  }
}